@charset "UTF-8";

body{background:rgb(37, 230, 213);font-size: 22px;color:blueviolet;
    font-family:Arial, Helvetica, sans-serif;}
    h1{color:red;background:rgb(247, 151, 25);} 
    h2{color:black;}
    p{text-align:justify;}